In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('postcode-dataout.txt', header=None, names=['suburb', 'state', 'postcode'], dtype={'suburb': str, 'state': str, 'postcode': str})

In [3]:
# Find all suburbs that contains duplicate, and where the state is VIC, and one of its clone has a postcode that does not start with 3

df.groupby(['suburb', 'state']).filter(lambda x: len(x) > 1 and x['state'].iloc[0] == 'VIC' and not x['postcode'].str.startswith('3').all())

              suburb state postcode
4028       DOCKLANDS   VIC     3008
4029       DOCKLANDS   VIC     8012
4353  EAST MELBOURNE   VIC     3002
4354  EAST MELBOURNE   VIC     8002
8604       MELBOURNE   VIC     3000
8605       MELBOURNE   VIC     3001
8606       MELBOURNE   VIC     3004
8607       MELBOURNE   VIC     8001